In [4]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\aryan\appdata\local\programs\python\python311\lib\site-packages (9.3.0)

In [9]:
!pip install mysql-connector-python
import mysql.connector

Requirement already satisfied: mysql-connector-python in c:\users\aryan\appdata\local\programs\python\python311\lib\site-packages (9.3.0)

ModuleNotFoundError: No module named 'mysql'

In [ ]:
mydb = mysql.connector.connect(
  host="finalprojectdb.c9es8gkmcrog.ap-south-1.rds.amazonaws.com",
  user="admin",
  password="pbl12121",
  port=3306
)

In [ ]:
print(mydb)
mycursor = mydb.cursor(buffered=True)
mycursor.execute("Show databases")
for x in mycursor:
  print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002D3F4E0C790>
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('user_logs',)

In [ ]:
mycursor.execute("CREATE DATABASE user_logs")

In [ ]:
mycursor.execute("USE user_logs")

In [ ]:
mycursor.execute("""CREATE TABLE APP_USER_LOGS(Id INT AUTO_INCREMENT PRIMARY KEY,
                  Text TEXT NOT NULL,
                  Predicted_Class INT NOT NULL,
                  Negative FLOAT NOT NULL,
                  Neutral FLOAT NOT NULL,
                  Positive FLOAT NOT NULL,
                  Timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP)""")

In [ ]:
mycursor.execute("select * FROM APP_USER_LOGS")
out = mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers = [i[0] for i in mycursor.description], tablefmt = 'psql'))

+------+-------------------------------------------+-------------------+------------+-----------+------------+---------------------+--------------+
|   Id | Text                                      |   Predicted_Class |   Negative |   Neutral |   Positive | Timestamp           | ip_address   |
|------+-------------------------------------------+-------------------+------------+-----------+------------+---------------------+--------------|
|    1 | This is  a Great day!!! Good night all... |                 2 |  0.0100196 |  0.157111 |   0.832869 | 2025-01-11 19:05:24 | 172.31.30.19 |
+------+-------------------------------------------+-------------------+------------+-----------+------------+---------------------+--------------+

In [ ]:
mycursor.execute("""
ALTER TABLE APP_USER_LOGS
ADD COLUMN ip_address VARCHAR(45);
""")